QListView {
    border: 2px solid red;
    background-color: white;

}

QListView:item {
    padding: 2px;
    border-bottom: 1px solid #aaaaaa;
}
QListView:item:hover,QListView:item:focus {
    padding: 4px;
    
}
QListView:item:selected {
    background-color: #dddddd;
}

