QListView {
    border: 0px solid transparent;
}

QListView:item {
    padding: 2px;
    border-left: 1px solid #aaaaaa;
}
QListView:item:hover,QListView:item:focus {
    padding: 4px;
    
}
QListView:item:selected {
    background-color: #e91e63;
}

