QPushButton,QPushButton:hover,QPushButton:focus,QPushButton:hover:focus {
  background-color: #42a5f5;
  border: 1px solid #ffffff;
  color: #111111;
  font-size: 12pt;
  padding: 3px 20px;
}


QPushButton:pressed,
QPushButton:pressed:focus {
  background-color: #298ce1;
  border-color: #ffffff;
  color: white;
}

QPushButton:disabled {
    border: 0px #cccccc;
    background-color: #cccccc;
}