QPushButton,QPushButton:hover,QPushButton:focus,QPushButton:hover:focus {
  border: none;
  color: white;
  background-color: %s;
  border-radius: 3px;
}


QPushButton:pressed,
QPushButton:pressed:focus {
  border: none;
  color: white;
  background-color: %s;
  border-radius: 3px;
}

QPushButton:disabled {
    border: none;
    background-color: #cccccc;
    border-radius: 3px;
}