QPushButton,QPushButton:hover,QPushButton:focus,QPushButton:hover:focus {
  border: none;
  color: #111111;
  background-color: %s;
}


QPushButton:pressed,
QPushButton:pressed:focus {
  border: none;
  color: white;
  background-color: %s;
}

QPushButton:disabled {
    border: none;
    background-color: #cccccc;
}