QTabBar::tab {
  color: #111111;
  background-color: #ffffff;
  padding: 7px 16px;
  border-right: 6px solid #ffffff;
  border-left:  6px solid #ffffff;
}


QTabBar::tab:hover {
  background-color: #dddddd;
}

QTabBar::tab:disabled {
  color: #bbbbbb;
}

QTabBar::tab:selected {
  color: #111111;
  background-color: #fdfdfd;
  border-bottom: 4px solid %s;
}

QTabBar:close-button {
    /*workaround to avoid close button. Do !not! add this image!*/
    image: url(:/closebutton.png);
}